{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blockchain</title>
  </head>
  <body>
    <h1 align="center">home page</h1>
    <a href="{% url 'web3'%}">
        <img src="{% static 'images/web3.jpg '%}" alt="web3" />
    </a>
    <a href="{% url 'solidity'%}">
      <img src="{% static 'images/solidity.jpg '%}" alt="solidity" />
  </a>
  </body>
</html>
