{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/index.css'%}">
<title>Web development</title>
<style>
#React {background-color: black;}
#jscript {background-color: black;}
#Angular {background-color: black;}
#database {background-color: black;}
#django {background-color: black;}
#PHP {background-color: black;}
pre{font-size: large;}
</style>
</head>
<body>
<div id="top">
<button class="tablink" onclick="openPage('React', this, 'black')" id="defaultOpen">React</button>
<button class="tablink" onclick="openPage('jscript', this, 'black')">jscript</button>
<button class="tablink" onclick="openPage('Angular', this, 'black')">Angular</button>
<button class="tablink" onclick="openPage('database', this, 'black')">database</button>
<button class="tablink" onclick="openPage('django', this, 'black')">django</button>
<button class="tablink" onclick="openPage('PHP', this, 'black')">PHP</button>
</div>
<div id="React" class="tabcontent">
  

<div id="d1">
  <h1><a href="/">home</a></h1>
      <a href="#intro">intro</a><hr>
      <a href="#basic">basic setup</a><hr>
</div>
<div id="d2">
    <a name="intro">introduction</a>
    <p>it is used in development of single page web_application  <br>
    <p>it is designed in html and javascriot (scripting) language  <br>
    <p> <strong>Steps:-</strong></p>
    <ul>
      <li>install nodejs</li>
      <li>install vs-code editer (optional).</li>
    </ul>

    <a name="first">basic setup</a>
    <p>to start a react project with its pre basic setups </p>
    <p>npm (to install fileset globaly or in drive)</p>
    <p id="white"> npm install -g create-react-app </p>
    <p>to save storage of our pc We will take file from internet insted to entire installation</p>
    <p id="white"> npx create-react-app vishwa</p>
    <p id="blue">fieldset will be created</p>
    <p><strong><center>else:-</center></strong></p>
    <p>if we will get error in installation (like 5.0.0) use this step.</p>
    <p id="white"> npx create-react-app@5.0.0 vishwa</p>
    <p id="blue"> react app will be created</p>
    <p>open whole react file (vishwa) in vs code</p>
    <p>right click on vishwa open with >> virtual studio code</p>
    <p><u> to start project in browser.</u></p>
    <p>in<strong> cmd</strong></p>
    <p>inside vishwa dir(folder)</p>
    <p id="white">C:\Users\ASUS\Desktop\sam>cd vishwa</p>
    <p><strong>and</strong></p>
    <p id="white">C:\Users\ASUS\Desktop\sam\vishwa>npm start</p>
    <p id="blue">react project will be started in web-browser</p>
    <p id="white">( Ctrl + c )to close the project</p>














</div>  
  
  
</div>

<div id="jscript" class="tabcontent">
   <div id="d1">
    <h1><a href="/">home</a></h1>
  <CENter> <P><H4>jscript</H4>
   <u> MCQ</u></CENter><br>
   <b> Which method of collection of data gives deter results</b><br>
    a.	Census   b. sample   c. innovation   d.distribution<br><br>
    
   <b> Which of the following errors is more series</b><br>
    a.sampling error   b.non sampling error   c.data error   d.first error
    <br><br>
   <b> the mthod of collection of data in which Reactions can be watched is
    </b><br> a.telephone  b.mAngularling questions  c.emAngularl  d.personal interview
     <br><br></div>
     <div id="d2">
    <u><b><center>FILL UP</center></b></u><br>
    1.data collected by the investicater is called <u>PRINARY DATA</u><br><br>
    2.the method of intru in optAngularning information at a sortest time<u> TELEPHONE INTERVIEW</u><br><br>
    3.the expensive method of intro<u> PERSONAL INTERVIEW</u><br><br>
    4.the method which can not be used for illitates <u>MAngularLING QUESTRNARE</u><br><br>
    5.sences of india is carried out in<u>  10  years</u><br><br><br><br>
   <center><u>MATCH THE FOLLOWING</u></center><br>
    1.personal intru	a.pre testing of the questionese=4 <br>
    2.mAngularling questionmAngularr	b.covour eseny individual=5 <br>
    3.telephone	c.list of question=2 <br>
    4.Pitet survay	3.cheeper=3 <br>
    5.censes	e.most expensive=1 <br>
      1=e,2=c,3=d,4=a,5=b. <br>
    <br><br>
    <center><u>ONE MARKS QUESTIONS</u></center><br>
    <b>1.what is a variable ?</b><br>
    It is a value which changes time to time. <br><br>
   <b> 2.write the meaning of the sences </b><br>
    It is the survey which include every elements of population <br><br>
    <b>3.what is sample servvay</b><br>
    A servay that is condected on a group of population <br><br>
    <b>4.naming the sampling erres</b> <br>
    It refers to the difference between sample estimate and actual value of charentristices of population <br><br>
    <b>5.expand NSSO</b> <br>
    National sample servay organition <br><br>
    <b>6.CSSO</b>=CENTERAL sample servay organition <br><br>
    <b>7.DGCIS</b>=directrate general of commercial intelligence and syatist . <br>
    
    </P><hr>
    </div>
</div>

<div id="Angular" class="tabcontent">
  <div id="d1">
  <h3>NATUER AND PURPUS IF Angular</h3>
  <p>Angular=exchange of good and services for money.<BR>
    1.	Wants are unlimited<BR>
    2.	Means are limited<BR>
    3.	This leat to scaecity<BR>
    4.	The scaecity is the come of all economic problem.<BR><BR>
    AN activity which generate income is known as economic antivity<BR><BR>
    
    <H4>THREE MAngularN ECONOMIC ACTIVITIES;</H4><BR>
    	Consumption = use of goods and services<BR>
    	Production=production of goods and services<BR>
    	Distribution<BR><BR>
    </p>
    </div>
    <p>
    <div id="d2">
   <CEnter><H4> Production took place in 4 factors</H4><BR>
       Land -rent<BR>
       Laber-wages<BR>
       Capital-invest<BR>
       Organization –profit<BR></CEnter><BR>
    Statistic is the study of numerical data<BR>
    Scarcity is the root of economic problem.<BR>
    The long que in rAngularrway station scaecity.<BR>
    Alternative uses of resources give rise to the coice<BR>
    We buy goods called consumer.<BR>
    Selling the goods called seller.<BR>
    Data numbers are used in statistics.<BR>  
    Numerical facters systamaticly collected is called statistic
    .<BR></p><HR>
    </div>




</div>

<div id="database" class="tabcontent">
  <div id="d1">
    <!-- &gt; (>), &lt; (<) &#160; or &nbsp; (space)-->
    {% for data3 in data3 %}
    <a href="#{{data3.title}}">{{data3.title}}</a>
    <hr>
    {% endfor %}
  </div>
  <div id="d2">
    {% for data3 in data3 %}
    <a name="{{data3.title}}">{{data3.title}}</a>
    <p>{{data3.description}}</p>
    <pre id="white">{{data3.income}}</pre>

    {% if data3.outcomes == 'null' %}
    {% else %}
    <pre id="blue">{{data3.outcomes}}</pre>
    {% endif %}
    
    {% endfor %}
    </div>
</div>

<div id="django" class="tabcontent">
  <div id="d1"> 
    {% for data in data %}
      <a href="#{{data.title}}">{{data.title}}</a>
      <hr>
      {% endfor %}
  </div>

  <div id="d2">
   
    {% for data in data %}
    <a name="{{data.title}}">{{data.title}}</a>
    <p>{{data.description}}</p>
    <pre id="white">{{data.income}}</pre>

    {% if data.outcomes == 'null' %}
    {% else %}
    <pre id="blue">{{data.outcomes}}</pre>
    {% endif %}

    {% endfor %}
</div>  
  
  
</div>


<div id="PHP" class="tabcontent">
    
  <div id="d1">
    <h3>NATUER AND PURPUS IF Angular</h3>
    <p>Angular=exchange of good and services for money.<BR>
      1.	Wants are unlimited<BR>
      2.	Means are limited<BR>
      3.	This leat to scaecity<BR>
      4.	The scaecity is the come of all economic problem.<BR><BR>
      AN activity which generate income is known as economic antivity<BR><BR>
      
      <H4>THREE MAngularN ECONOMIC ACTIVITIES;</H4><BR>
      	Consumption = use of goods and services<BR>
      	Production=production of goods and services<BR>
      	Distribution<BR><BR>
      </p>
      </div>
      <p>
      <div id="d2">
     <CEnter><H4> Production took place in 4 factors</H4><BR>
         Land -rent<BR>
         Laber-wages<BR>
         Capital-invest<BR>
         Organization –profit<BR></CEnter><BR>
      Statistic is the study of numerical data<BR>
      Scarcity is the root of economic problem.<BR>
      The long que in rAngularrway station scaecity.<BR>
      Alternative uses of resources give rise to the coice<BR>
      We buy goods called consumer.<BR>
      Selling the goods called seller.<BR>
      Data numbers are used in statistics.<BR>  
      Numerical facters systamaticly collected is called statistic
      .<BR></p><HR>
      </div>
</div>





<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 
