{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ASVSI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'icon/django.png' %}"
    />
    <style>
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="row">
      {% for data in data %}

      <div class="column">
        <div class="card">
          <div class="container">
            <a href="solidity/{{data.App_Name}}/{{data.id}}" target="black">
              <p class="title">
                {{data.App_Name}}
              </p>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
